<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Insertion</div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Genre</h3>
                </div>
                <hr>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary pull-right">{{ button_label|default('Creer') }}</button>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
