{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
   <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Details</div>
            <div class="card-body">
                <div class="card-title">
                    <h1 class="text-center title-2">Genre</h1>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Nom</th>
                            <td>{{ genre.nom }}</td>
                        </tr>
                    </tbody>
                </table>


            <a href="{{ path('genre_edit', {'id': genre.id}) }}"><button class="btn btn-primary">Modifier</button></a>
            <br/>
            <br/>
            {{ include('genre/_delete_form.html.twig') }}
            <br/>
            <br/>
            <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Sortie</th>
                        <th>Duree</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for film in genre.films %}
                    <tr>
                        {% for img in film.images if img.type == 's' %}
                        <td><img width="100" height="100" src="{{ img.path }}" alt="{{ film.titre }}"></td>
                        {% endfor %}
                        <td>{{ film.titre }}</td>
                        <td>{{ film.sortie ? film.sortie|date('Y-m-d') : '' }}</td>
                        <td>{{ film.duree ? film.duree|date('H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('film_show', {'id': film.id}) }}"><button class="btn btn-primary">Voir</button></a>
                            <a href="{{ path('film_edit', {'id': film.id}) }}"><button class="btn btn-danger">Modifier</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
