{% extends 'base.html.twig' %}

{% block title %}Modification Film{% endblock %}

{% block body %}
    {{ include('film/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="col-lg-6">
        <div class="card">
        <div class="card-header">
            Ajout Image
        </div>
        <div class="card-body card-block">
            {% for img in film.images %}
             <div style="margin-bottom : 5px">
                <img width="100" height="100" class="center-block" src="{{ img.path }}" alt="{{ film.titre }}">
                <a href="{{ path('delete_film_image',{ 'idf' : film.id , 'idi' : img.id })}}">supprimer</a>
            </div>
            {% endfor %}
            <form action="{{ path('add_image') }}" method="post" class="form-horizontal" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ film.id }}">   
                <div class="form-group">
                    <div class="col col-md-3">
                        <label for="select" class=" form-control-label">Type</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="type" id="select" class="form-control">
                            <option value="l">Affiche</option>
                            <option value="m">Poster</option>
                            <option value="s">Miniature</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2" class="px-1  form-control-label">Image</label>
                    <input name="image" type="file" id="exampleInputEmail2" required="" class="form-control">
                </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Ajouter
            </button>
        </div>
        </form>
    </div>
    </div>

     <div class="col-lg-6">
        <div class="card">
        <div class="card-header">
            Ajout Genre
        </div>
        <div class="card-body card-block">
            {% for fg in film.genres %}
            <a href =" {{ path('delete_film_genre',{ 'idf' : film.id , 'idg' : fg.id }) }}" ><button type="submit" class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i> {{ fg.nom }}
            </button></a>
            {% endfor %}
            <form action="{{ path('add_film_genre') }}" method="post" class="form-horizontal" enctype="multipart/form-data">
                <input type="hidden" name="idf" value="{{ film.id }}">   
                <div class="form-group">
                    <div class="col col-md-3">
                        <label for="select" class=" form-control-label">Genre</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="idg" id="select" class="form-control">
                            {% for g in genres %}
                            <option value="{{ g.id }}">{{ g.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Ajouter
            </button>
        </div>
        </form>
    </div>
    </div>
{% endblock %}
