{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Liste Films</h1>

   <div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Sortie</th>
                        <th>Duree</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for film in films %}
                    <tr>
                        {% for img in film.images if img.type == 's' %}
                        <td><img width="100" height="100" src="{{ img.path }}" alt="{{ film.titre }}"></td>
                        {% endfor %}
                        <td>{{ film.titre }}</td>
                        <td>{{ film.sortie ? film.sortie|date('Y-m-d') : '' }}</td>
                        <td>{{ film.duree ? film.duree|date('H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('film_show', {'id': film.id}) }}"><button class="btn btn-primary">Voir</button></a>
                            <a href="{{ path('film_edit', {'id': film.id}) }}"><button class="btn btn-danger">Modifier</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
