{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">Details</div>
            <div class="card-body">
                <div class="card-title">
                    <h1 class="text-center title-2">{{ film.titre }}</h1>
                </div>
                {% for img in film.images if img.type == 'm' %}
                    <hr/>
                    <br/>
                    <center><img height="500" class="center-block" src="{{ img.path }}" alt="{{ film.titre }}"></center>
                    <br/>
                    <br/>
                {% endfor %}
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Sortie</th>
                            <td>{{ film.sortie ? film.sortie|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Duree</th>
                            <td>{{ film.duree ? film.duree|date('H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Genre</th>
                            <td>{% for g in film.genres %}{% if loop.first %} {{ g.nom }}{% else %} {{'/ ' ~ g.nom}}{% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <th>Synopsis</th>
                            <td>{{ film.synopsis }}</td>
                        </tr>
                        <tr>
                            <th>Autres Images</th>
                            {% for img in film.images if img.type != 'm' %}
                                <td><img height="200" class="center-block" src="{{ img.path }}" alt="{{ film.titre }}"></td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('film_edit', {'id': film.id}) }}"><button class="btn btn-primary">Modifier</button></a>
                <br/>
                <br/>
                {{ include('film/_delete_form.html.twig') }}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
